
/*STYLES PARA ÃREA DE TRABALHE CONOSCO*/

.detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    color: rgb(194, 57, 73);
    
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 84vh;
    margin-top: 1em;
}

form {
    margin: 2em 1em;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color:  rgba(194, 57, 73, 0.4);
    color: white;
    padding: 1em 0;
}


form>input {
    width: 50%;
    background-color: rgba(194, 57, 73, 0.8);
    border: 0;
    
}



.button {
    margin-top: 1em;
    background-color: rgba(194, 57, 73, 0.8);
    color: white;
    font-size: 2em;
    border: 0.2em solid rgb(194, 57, 73);
}

@media screen and (max-width: 375px) {
    .detalhes {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        font-size: 1em;
        color: rgb(194, 57, 73);
        
    }


    

    .button {
        margin-top: 1em;
        background-color: rgba(194, 57, 73, 0.8);
        color: white;
        font-size: 1em;
        border: 0.01em solid rgb(194, 57, 73);
    }

}